@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
    background-image: linear-gradient(
            270deg,
            hsl(345deg 85% 28%) 0%,    /* deep wine */
            hsl(342deg 80% 36%) 26%,   /* crimson */
            hsl(338deg 75% 44%) 39%,   /* red-purple */
            hsl(332deg 70% 52%) 50%,   /* muted rose */
            hsl(328deg 65% 48%) 61%,   /* wine pink */
            hsl(324deg 70% 40%) 74%,   /* dark rose */
            hsl(320deg 75% 32%) 100%   /* deep plum */
    );
    filter: blur(125px);
}


.hero-gradient {
    background: linear-gradient(
            97.86deg,
            #6f0d1b 0%,     /* dark wine */
            #8f1d2c 50%,    /* crimson */
            #4b1033 100%   /* royal plum */
    );
}


.gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;

    background: #7b1e2b; /* dark cherry */
    filter: blur(190px);
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
    position: absolute;
    width: 404px;
    height: 800px;
    left: 20%;
    top: 5%;

    background: rgba(120, 25, 70, 0.45); /* wine purple */
    filter: blur(175px);
    transform: rotate(-114.2deg);
}

.gradient-04 {
    position: absolute;
    width: 304px;
    height: 100vh;
    left: 30%;
    top: 10%;

    background: rgba(90, 15, 35, 0.75); /* deep blood red */
    filter: blur(200px);
    transform: rotate(-53.13deg);
}


.gradient-05 {
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0) 100%
    );
}

.feedback-gradient {
    position: absolute;
    width: 200px;
    height: 316px;
    left: 0px;
    top: 0px;

    background: #5c1232; /* wine plum */
    filter: blur(175px);
}


.footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;

    background: #7a1c2f; /* deep crimson */
    filter: blur(150px);
}

